body {
    background-color: #302B27;
    padding: 0;
    margin: 0;
}
.logoutbutton {
    text-decoration: None;
    color: white;
    border-radius: 2px;
    padding: 7px;
    background-color: #1B264F;
}
.navbar {
    background-color: #171513;
    height: 65px;
    width: 100%;
    position: sticky;
    object-position: top;
}

.logoutbtn {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 2em;
}

.buycar {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-top: 1em;
}

.sellacar {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 2em;
    padding-top: 1em;
}

.checkout {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 2em;
    padding-top: 1em;
}