{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'main.css'%}">
    <script src='main.js'></script>
</head>
<body>
    <nav class="navbar">
    
    </nav>
    <div class="logincontainer">
        <form action="" method="POST">
            {% csrf_token %}
            <p>Username: <input type='text' name='username' id='username' class='input'></p>
            <p>Password: <input type'text' name='password' id='password' class='input'></p>
            <a href='registerpage' class='registerbutton'>Don't have an account? Register here.</a><br>
            <input type="submit" value="Log in" class="btn btn-secondary">
        </form>
    </div>
</body>
</html>