{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sell a Car</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'base.css'%}">
    <script src='main.js'></script>
</head>
<body>
    {% block content %}
    <nav class="navbar">
        <a href='buyacar' class='buycar'>Browse Cars</a>
        <a href='sellacar' class='sellacar'>Sell a Car</a>
        <a href='checkout' class='checkout'>Checkout</a>
        <a href='{% url 'lout' %}' class='logoutbtn'>Logout</a>
    </nav>
    {% endblock content %}
</body>
</html>